@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro'),
    url('../fonts/CeraPro-Regular.woff') format('woff'),
    url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight:400;
  }

  @font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro'),
    url('../fonts/CeraPro-Medium.woff') format('woff'),
    url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight:500;
  }


  @font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro'),
    url('../fonts/CeraPro-Bold.woff') format('woff'),
    url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight:700;
  }

  @font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro'),
    url('../fonts/CeraPro-Black.woff') format('woff'),
    url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight:900;
  }
