.form-box {
    width: 400px;
    background: white;
    padding: 30px;
    margin: 0 auto;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.input-field {
    width: 300px;
    height: 40px;
    text-align: left;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 10px;

}

h1{
    text-align: center;
    font-family: 'Cera Pro', sans-serif;
    font-size: 30px;
}

body {
    font-family: 'Cera Pro', sans-serif;
}

.button {
    width: 300px;
    height: 40px;
    margin: 15px auto;
}

.register-button {
    width: 310px;
    height: 40px;
    margin: 15px auto;
    background-color: green;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 20px;
}